<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}

<body>
  {%- include header.html -%}

  <br>

  <div class="main">
    <h1>{{ page.header }}</h1>
    <br>
    <div class="content">
      <br>
      {{ content }}
    </div>

    {% assign sorted_posts = site.posts | where: 'type', page.type %}
    {% for posts in sorted_posts %}
      {% assign post = posts %}
      <br>

      <div class="content">
        <div class="post">
          <div class="image_wrapper">
            <a href="/{{ post.permalink }}">
              <img src="{{ post.hero }}">
            </a>
          </div>
          <div>
            <h4>
              <a href="/{{ post.permalink }}">
                {{ post.summary }}
              </a>
            </h4>
            <p class="post_text">
              {{ post.short_title }}
            </p>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
  {%- include footer.html -%}
</body>

</html>
